a:link, a:visited {
    color: #0019af;
    text-decoration: none;
}
.navButton {
    display: flex;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 1em;
    display: inline;
}
